Repository pyro-kinetics/pyrokinetics: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

.codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  status:
    project:
      default:
        # Require 1% coverage, i.e., always succeed
        target: 1%
        flags:
          - unittests
        paths:
         - "!tests/"
      unittests:
        target: 85%
        flags:
          - unittests
        paths:
          - "!/tests/"
    patch: false
    changes: false

comment: false

flags:
  unittests:
    paths:
      - "!tests"
    carryforward: false
  mypy:
    paths:
      - "pyrokinetics"
    carryforward: false

Add phase to amplitude calc
  src/pyrokinetics/gk_code/gk_output.py
Due: unittests

Fix sign convention CGYRO
  src/pyrokinetics/gk_code/cgyro.py
  src/pyrokinetics/gk_code/gk_output.py
Due: unittests

Fix sign on CGYRO flux
  src/pyrokinetics/gk_code/cgyro.py
Due: unittests

Renormalise linear weights at each time
  src/pyrokinetics/gk_code/gk_output.py
Due: unittests

Updates for tests
  src/pyrokinetics/gk_code/cgyro.py
  src/pyrokinetics/gk_code/gene.py
  src/pyrokinetics/gk_code/gk_output.py
  src/pyrokinetics/gk_code/gkw.py
  src/pyrokinetics/gk_code/gs2.py
  src/pyrokinetics/gk_code/gx.py
  src/pyrokinetics/gk_code/tglf.py
  src/pyrokinetics/local_geometry/mxh.py
  src/pyrokinetics/normalisation.py
  tests/gk_code/golden_answers/cgyro_linear_output_b68218e0.netcdf4
  tests/gk_code/golden_answers/cgyro_linear_output_d7467ffb.netcdf4
  tests/gk_code/golden_answers/gene_linear_output_b68218e0.netcdf4
  tests/gk_code/golden_answers/gene_linear_output_d7467ffb.netcdf4
  tests/gk_code/golden_answers/gkw_linear_output_b68218e0.netcdf4
  tests/gk_code/golden_answers/gkw_linear_output_d7467ffb.netcdf4
  tests/gk_code/golden_answers/gs2_linear_output_b68218e0.netcdf4
  tests/gk_code/golden_answers/gs2_linear_output_d7467ffb.netcdf4
  tests/gk_code/golden_answers/gx_linear_output_67f80cc7.netcdf4
  tests/gk_code/golden_answers/gx_linear_output_d7467ffb.netcdf4
  tests/gk_code/golden_answers/stella_linear_output_9153f31f.netcdf4
  tests/gk_code/golden_answers/stella_linear_output_d7467ffb.netcdf4
  tests/gk_code/golden_answers/tglf_linear_output_5eb9b324.netcdf4
  tests/gk_code/golden_answers/tglf_linear_output_d7467ffb.netcdf4
  tests/gk_code/test_gk_code_output.py
  tests/gk_code/test_gk_output_reader_cgyro.py
  tests/gk_code/test_gk_output_reader_gene.py
  tests/gk_code/test_gk_output_reader_gkw.py
  tests/gk_code/test_gk_output_reader_gs2.py
  tests/gk_code/test_gk_output_reader_gx.py
  tests/gk_code/test_gk_output_reader_stella.py
  tests/gk_code/test_gk_output_reader_tglf.py
  tests/test_normalisation.py
  tests/test_roundtrip.py
Due: unittests

Update golden answer and small tweaks
  docs/conf.py
  src/pyrokinetics/gk_code/cgyro.py
  src/pyrokinetics/gk_code/gk_output.py
  src/pyrokinetics/gk_code/gx.py
  tests/gk_code/golden_answers/cgyro_linear_output_d7467ffb.netcdf4
  tests/gk_code/golden_answers/cgyro_linear_output_edaf9aff.netcdf4
  tests/gk_code/golden_answers/gene_linear_output_d7467ffb.netcdf4
  tests/gk_code/golden_answers/gene_linear_output_edaf9aff.netcdf4
  tests/gk_code/golden_answers/gkw_linear_output_d7467ffb.netcdf4
  tests/gk_code/golden_answers/gkw_linear_output_edaf9aff.netcdf4
  tests/gk_code/golden_answers/gs2_linear_output_d7467ffb.netcdf4
  tests/gk_code/golden_answers/gs2_linear_output_edaf9aff.netcdf4
  tests/gk_code/golden_answers/gx_linear_output_d7467ffb.netcdf4
  tests/gk_code/golden_answers/gx_linear_output_edaf9aff.netcdf4
  tests/gk_code/golden_answers/stella_linear_output_d7467ffb.netcdf4
  tests/gk_code/golden_answers/stella_linear_output_edaf9aff.netcdf4
  tests/gk_code/golden_answers/tglf_linear_output_d7467ffb.netcdf4
  tests/gk_code/golden_answers/tglf_linear_output_edaf9aff.netcdf4
  tests/gk_code/test_gk_output_reader_cgyro.py
  tests/gk_code/test_gk_output_reader_gene.py
  tests/gk_code/test_gk_output_reader_gkw.py
  tests/gk_code/test_gk_output_reader_gs2.py
  tests/gk_code/test_gk_output_reader_gx.py
  tests/gk_code/test_gk_output_reader_stella.py
  tests/gk_code/test_gk_output_reader_tglf.py
  tests/test_normalisation.py
  tests/test_roundtrip.py
Due: unittests

Fix theta_star phase calculator for any size
  src/pyrokinetics/gk_code/gk_output.py
  src/pyrokinetics/gk_code/gx.py
Due: unittests

Allow for case without theta0 in MG sat and add legacy flux defn in GS2
  src/pyrokinetics/diagnostics/saturation_rules.py
  src/pyrokinetics/gk_code/gs2.py
Due: unittests

Update GX/CGYRO flux_norm, add old stella flux
  src/pyrokinetics/gk_code/cgyro.py
  src/pyrokinetics/gk_code/gx.py
  src/pyrokinetics/gk_code/stella.py
Due: unittests

Pass on output_convention to GKOutput in STELLA
  src/pyrokinetics/gk_code/stella.py
  tests/gk_code/golden_answers/gx_linear_output_08868c5e.netcdf4
  tests/gk_code/golden_answers/gx_linear_output_edaf9aff.netcdf4
  tests/gk_code/test_gk_output_reader_gx.py
Due: unittests

[skip ci] Apply black changes
  src/pyrokinetics/gk_code/gx.py
Due: unittests

Promote theta to float64 and update trapz rule in GS2
  src/pyrokinetics/gk_code/gs2.py
  src/pyrokinetics/gk_code/gx.py
Due: unittests

black fix gs2.py
  src/pyrokinetics/gk_code/gs2.py
Due: unittests

Add gradr correction
  src/pyrokinetics/gk_code/gx.py
Due: unittests

[skip ci] Apply black changes
  src/pyrokinetics/diagnostics/__init__.py
Due: unittests

fix get_zonal and update sat3
  src/pyrokinetics/diagnostics/__init__.py
Due: unittests

[skip ci] Apply black changes
  pyrokinetics/examples/example_read_tglf_transport.py
  pyrokinetics/gk_code/GKCodeCGYRO.py
  pyrokinetics/gk_code/GKCodeGENE.py
  pyrokinetics/gk_code/GKCodeTGLF.py
  pyrokinetics/gk_code/GKOutput.py
Due: unittests, mypy

Make TGLF examples more friendly
  pyrokinetics/examples/example_read_tglf_linear.py
Due: unittests, mypy

[skip ci] Apply black changes
  pyrokinetics/examples/example_read_tglf_linear.py
Due: unittests, mypy

test tglf saturation
  tests/diagnostics/test_tglf_saturation.py
Due: none

[skip ci] Apply black changes
  tests/diagnostics/test_tglf_saturation.py
Due: none

Some comments on 3 field case
  pyrokinetics/gk_code/GKCodeTGLF.py
Due: unittests, mypy

Fix output parsing for TGLF WF case (gfortran 13)
  pyrokinetics/gk_code/GKCodeTGLF.py
Due: unittests, mypy

Workaround irrelvant import errors
  pyrokinetics/equilibrium/EquilibriumReaderGEQDSK.py
Due: unittests, mypy

Add example for comparing several TGLF runs eigenvalues
  pyrokinetics/examples/compare_tglf_linear.py
Due: unittests, mypy

Workaround flux read errors in 3 field cases
  pyrokinetics/gk_code/GKCodeTGLF.py
Due: unittests, mypy

[skip ci] Apply black changes
  pyrokinetics/equilibrium/EquilibriumReaderGEQDSK.py
  pyrokinetics/examples/compare_tglf_linear.py
  pyrokinetics/gk_code/GKCodeTGLF.py
Due: unittests, mypy

Fix normalisation of fluxes and pyroscan for GX
  src/pyrokinetics/gk_code/gk_output.py
  src/pyrokinetics/pyroscan.py
Due: unittests
