Repository pyro-kinetics/pyrokinetics: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

.codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  status:
    project:
      default:
        # Require 1% coverage, i.e., always succeed
        target: 1%
        flags:
          - unittests
        paths:
         - "!tests/"
      unittests:
        target: 85%
        flags:
          - unittests
        paths:
          - "!/tests/"
    patch: false
    changes: false

comment: false

flags:
  unittests:
    paths:
      - "!tests"
    carryforward: false
  mypy:
    paths:
      - "pyrokinetics"
    carryforward: false

Add system to register plugins via entry points
  pyrokinetics/equilibrium/__init__.py
  pyrokinetics/gk_code/__init__.py
  pyrokinetics/kinetics/__init__.py
  pyrokinetics/plugins.py
Due: unittests, mypy

Update file readers/readables + factory methods
  docs/tutorials/file_readers.rst
  pyrokinetics/equilibrium/__init__.py
  pyrokinetics/equilibrium/equilibrium.py
  pyrokinetics/equilibrium/geqdsk.py
  pyrokinetics/equilibrium/transp.py
  pyrokinetics/file_utils.py
  pyrokinetics/gk_code/__init__.py
  pyrokinetics/gk_code/cgyro.py
  pyrokinetics/gk_code/gene.py
  pyrokinetics/gk_code/gk_input.py
  pyrokinetics/gk_code/gk_output.py
  pyrokinetics/gk_code/gs2.py
  pyrokinetics/gk_code/ids.py
  pyrokinetics/gk_code/tglf.py
  pyrokinetics/kinetics/__init__.py
  pyrokinetics/kinetics/jetto.py
  pyrokinetics/kinetics/kinetics.py
  pyrokinetics/kinetics/pfile.py
  pyrokinetics/kinetics/scene.py
  pyrokinetics/kinetics/transp.py
  pyrokinetics/plugins.py
  tests/test_file_utils.py
  tests/test_pyro.py
Due: unittests, mypy

Add import warning to file reader docs
  docs/tutorials/file_readers.rst
Due: unittests

Add equilibrium plugin test
  pyproject.toml
  tests/test_plugins.py
Due: unittests

Linter appeasement
  pyrokinetics/plugins.py
  tests/test_pyro.py
Due: unittests, mypy

Update test workflow to get all test dependencies
  .github/workflows/tests.yml
Due: unittests

Update codecov workflow to get all test deps
  .github/workflows/ci.yml
Due: unittests

Merge code coverage and test workflows, cov fixes
  .github/workflows/ci.yml
  .github/workflows/tests.yml
  pyproject.toml
  tests/__init__.py
Due: unittests

Run black on tests, move relative imports to fixtures
  tests/conftest.py
  tests/databases/test_imas.py
  tests/equilibrium/test_equilibrium.py
  tests/gk_code/test_gk_input_gene.py
  tests/gk_code/test_gk_output_reader_cgyro.py
  tests/gk_code/test_gk_output_reader_gene.py
  tests/gk_code/test_gk_output_reader_gs2.py
  tests/gk_code/test_gk_output_reader_tglf.py
  tests/gk_code/utils.py
  tests/kinetics/test_kinetics.py
  tests/local_geometry/test_fourier.py
  tests/local_geometry/test_fourier_cgyro.py
  tests/local_geometry/test_metric_terms.py
  tests/local_geometry/test_miller.py
  tests/local_geometry/test_miller_turnbull.py
  tests/local_geometry/test_mxh.py
  tests/test_normalisation.py
  tests/test_numerics.py
  tests/test_pyro.py
  tests/test_roundtrip.py
  tests/test_species.py
Due: none

Fix workflow typo
  .github/workflows/tests.yml
Due: unittests

Minor fix to prompt CI
  pyrokinetics/__init__.py
Due: unittests, mypy

Undo rename of pytest workflow job
  .github/workflows/tests.yml
Due: unittests

Minor fix to prompt CI
  pyrokinetics/cli/__init__.py
Due: unittests, mypy

Fix workflow dependencies
  .github/workflows/tests.yml
Due: unittests

Move .coveragerc to pyproject.toml, fix relative paths
  .coveragerc
  pyproject.toml
Due: unittests

Edit omitted coverage paths
  pyproject.toml
Due: unittests

Try checking out project in code coverage runner
  .github/workflows/tests.yml
Due: unittests

Add Python 3.11 tests, use 3.10 coverage report with Codecov
  .github/workflows/tests.yml
Due: unittests

Add additional plugin tests
  docs/tutorials/file_readers.rst
  pyproject.toml
  pyrokinetics/gk_code/__init__.py
  pyrokinetics/plugins.py
  tests/cli/test_convert.py
  tests/test_plugins.py
Due: unittests, mypy

Flake8 fixes
  tests/cli/test_convert.py
Due: none
